b.titulo{
    color: blue;
    width: 330px;
    height: 50px;
    background-color: violet;
}
 
 button{
    background-color: rgb(190, 21, 212);
    width: 310px;
    height: 50px;
}
#seleccionar-mascota{
    display : flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
    
}
.tarjeta-mokepon{
     width: 100px;
    height: 100px;
    background-color: rgb(196, 176, 179);
    padding: 10px; 
    box-sizing: border-box;
}
